<header id="top" class="header">
  <nav>
    <ul class="nav-list">
      <li>
        <a href="index.html#landing" class="nav-item">Home</a>
      </li>
      <li>
        <a href="index.html#services" class="nav-item">Services</a>
      </li>
      <li>
        <a href="index.html#portfolio" class="nav-item">Portfolio</a>
      </li>
      <li>
        <a href="index.html#testimonials" class="nav-item">Testimonials</a>
      </li>
    </ul>
  </nav>
  <!-- <img src="./images/logo.svg" alt="typewriter logo" /> -->
  <a href="/" class="header-logo">
    <img src="/images/logo.svg" alt="logo" />
  </a>
</header>
