<section id="portfolio" class="box portfolio-box">
  <h1>Portfolio</h1>
  <div class="box portfolio-box wrapper">
    <ul>
      <li id="project-1" class="item">
        <h2>Project 1</h2>
        <p class="portfolio-item-copy">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
          vero debitis eos accusantium iusto eligendi, nulla rerum tenetur
          voluptates? Non fugit ab iste aspernatur alias sapiente ipsa porro
          reiciendis iure nobis, voluptates nulla perspiciatis quia molestias id
          earum pariatur aperiam corporis, tenetur dolore optio fugiat
          doloremque architecto eius! Nam minus eveniet animi natus similique ad
          error reprehenderit. Tempora perspiciatis, corrupti provident officia
          quidem dolorum eum neque ullam expedita modi architecto distinctio
          recusandae asperiores at adipisci! Officiis nobis rerum dolores dicta
          omnis odit officia doloribus? Ea perferendis pariatur fugit
          necessitatibus accusamus magni ipsam, mollitia asperiores nulla fugiat
          non doloribus officiis neque!
        </p>
        <a href="index.html#project-1-testimony"
          >Click here to read the testimonial!</a
        >
      </li>
      <li id="project-2" class="item">
        <h2>Project 2</h2>
        <p class="portfolio-item-copy">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
          blanditiis expedita illo temporibus recusandae, dicta sequi, natus et
          id, enim iusto? Impedit asperiores cumque excepturi ipsa neque
          suscipit voluptatibus, quidem repellendus recusandae odio nihil iste
          necessitatibus debitis laboriosam voluptatem laborum eligendi. At
          inventore voluptatem cum recusandae incidunt veritatis ut corrupti
          magni distinctio quaerat atque facere pariatur assumenda deserunt
          minus nulla dignissimos, adipisci ex, dicta exercitationem expedita
          molestias, sed vel aspernatur?
        </p>
        <a href="index.html#project-2-testimony"
          >Click here to read the testimonial!</a
        >
      </li>
      <li id="project-3" class="item">
        <h2>Project 3</h2>
        <p class="portfolio-item-copy">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam esse
          tempore minima impedit corrupti ad consectetur cupiditate placeat.
          Molestiae doloribus maiores maxime nesciunt iure libero eligendi
          incidunt veniam animi rerum, dignissimos commodi vitae magnam illo quo
          assumenda possimus ea sequi voluptates totam? Officia, quas laborum
          vitae minima dolor illo dolores pariatur voluptatibus eveniet?
          Suscipit, voluptatem eaque recusandae officiis veritatis eius nobis
          rerum commodi deserunt, dolorum cupiditate fugiat eligendi facilis
          voluptas animi nulla. Harum accusantium itaque qui iste ad, dolore ea
          saepe ab quibusdam excepturi voluptatibus.
        </p>
        <a href="index.html#project-3-testimony"
          >Click here to read the testimonial!</a
        >
      </li>
    </ul>
  </div>
</section>
