<section id="services" class="box services-box">
  <h1>Services</h1>
  <div class="box services-box wrapper">
    <ul>
      <li class="item">
        <h2>Service 1</h2>
        <p class="copy">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque at
          vitae, ducimus, ab reprehenderit culpa ratione nostrum dignissimos
          inventore porro, iure fugiat. Maiores, quas cupiditate!
        </p>
      </li>
      <li class="item">
        <h2>Service 2</h2>
        <p class="copy">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque at
          vitae, ducimus, ab reprehenderit culpa ratione nostrum dignissimos
          inventore porro, iure fugiat. Maiores, quas cupiditate!
        </p>
      </li>
      <li class="item">
        <h2>Service 3</h2>
        <p class="copy">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque at
          vitae, ducimus, ab reprehenderit culpa ratione nostrum dignissimos
          inventore porro, iure fugiat. Maiores, quas cupiditate!
        </p>
      </li>
      <li class="item">
        <h2>Service 4</h2>
        <p class="copy">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque at
          vitae, ducimus, ab reprehenderit culpa ratione nostrum dignissimos
          inventore porro, iure fugiat. Maiores, quas cupiditate!
        </p>
      </li>
    </ul>
  </div>
</section>
