<section id="testimonials" class="box testimonials-box">
  <h1>Testimonials</h1>
  <div class="box testimonials-box wrapper">
    <ul>
      <li id="project-1-testimony" class="item">
        <h2>Testimonial 1</h2>
        <p class="testimonial-item-copy">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
          cumque ab at consectetur sit incidunt error odit in blanditiis
          aliquam.
        </p>
        <a href="index.html#project-1">Click here to see the project!</a>
      </li>
      <li id="project-2-testimony" class="item">
        <h2>Testimonial 2</h2>
        <p class="testimonial-item-copy">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
          obcaecati corporis amet est perferendis unde veritatis temporibus
          cupiditate. Adipisci nostrum debitis molestiae, fuga itaque illum
          minus consequatur quo dolore neque.
        </p>
        <a href="index.html#project-2">Click here to see the project!</a>
      </li>
      <li id="project-3-testimony" class="item">
        <h2>Testimonial 3</h2>
        <p class="testimonial-item-copy">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo
          maxime ipsam, doloribus facilis molestias laboriosam numquam eligendi,
          aspernatur doloremque, saepe officia? Rem totam quaerat ipsa natus,
          ratione deleniti eveniet accusantium ea! A, amet commodi.
        </p>
        <a href="index.html#project-3">Click here to see the project!</a>
      </li>
    </ul>
  </div>
</section>
