/* GLABAL STYLES */
html {
}
body {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fafafa;
}
nav {
  text-align: center;
  display: block;
}
main {
}
a {
  text-decoration: none;
}
footer {
}

/* BOX STYLES */
.box {
  border: 1px solid black;
}

.box-a {
}

.box-b {
}

.box-c {
}

/* SOCIAL LINK STYLES */
.social-link {
  color: red;
}

/* TEXT STYLES */
.large-text {
  margin-bottom: 50px;
  font-style: italic;
  font-size: 22px;
  text-align: center;
}
