/* GLABAL STYLES */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #faebd7;
  font-size: 62.5%;
}
nav {
}
main {
}
a {
  color: #a43bf9;
  text-decoration: none;
}

footer {
}

/* BOX STYLES */
.box {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

/* LANDING STYLES */
.landing-box {
  background-color: #c7dbfc;
}

.landing-box-copy {
  margin-top: 0;
  font-size: 7vw;
}

/* SERVICES STYLES */
.services-box {
}

/* PORTFOLIO STYLES */
.portfolio-box {
}

/* TESTIMONIALS STYLES */
.testimonials-box {
}
/* END OF BOX STYLES */

/* SOCIAL LINK STYLES */
.social-link {
  background: rgba(150, 150, 150, 0.5);
  color: rgb(0, 0, 255);
}

/* TEXT STYLES */
.large-text {
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
  margin: 1em;
}

/* BLOG STYLES */
