body {
  font-size: 62.5%;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.4;
  display: grid;
  grid-template-columns: 15% minmax(768px, 1fr);
  grid-template-rows: 5% 90% 5%;
  /* grid-template-areas:
    'h m m m m m'
    'h f f f f f'; */
  /* grid-auto-flow: dense; */
  height: 100vh;
  width: 100vw;
}

header {
  background-color: teal;
  grid-column: 1 / -1;
  /* grid-area: h; */
}

nav {
}

.nav-wrapper {
}

.nav-list {
}

.nav-item {
}

aside {
  background-color: hotpink;
}

.menu-wrapper {
}

.contact-wrapper {
}

main {
  background-color: gray;
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  justify-items: center;
  /* grid-area: m; */
}

.landing-wrapper {
}

.landing-content {
}

.services-wrapper {
  background-color: tomato;
  /* justify-self: end; */
}

.service-list {
  list-style: none;
}

.service-item {
}

.service-text {
}

footer {
  background-color: rgb(121, 214, 116);
  grid-column: 1 / -1;

  /* grid-area: f; */
}

.social-wrapper {
}

.social-list {
}

.social-item {
}

.text-big {
  font-size: 28em;
}

.text-medium {
}

/*
relative units
vw = view width
vh = view height
em = general, 1em = 1px
*/
