body {
  font-size: 62.5%;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 95% 5%;
  grid-template-areas:
    'h m m m m m'
    'f f f f f f';
  /* grid-auto-flow: dense; */
  height: 100vh;
  width: 100vw;
}

header {
  background-color: teal;
  grid-area: h;
}

nav {
  color: white;
}

main {
  background-color: gray;
  grid-area: m;
}

a {
  text-decoration: none;
}

hr {
  display: none;
}

footer {
  background-color: rgb(121, 214, 116);
  grid-area: f;
}

.box {
}

.services-wrapper {
  background-color: tomato;
}

.service-list {
  list-style: none;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5em; */
}
/*
relative units
vw = view width
vh = view height
em = general, 1em = 1px
*/
